<%= form_for  @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <div class="col-md-6 col-md-offset-3">
      <div class="review-new-review">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>


        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: "form-control" %>

        <%= f.label :content %>
        <%= f.text_area :content, class: "form-control" %>

        <div>
          <%= f.label :p, class: "checkbox inline" do %>
            <span>Portable </span>
            <%= f.check_box :portable %>
          <% end %>
        </div>
      </div>

      <div class="review-new-address">
        <br><h4>Address</h4><br />
        <%= f.fields_for :address do |f2| %>
          <%= f2.label :name %>
          <%= f2.text_field :name, class: "form-control" %>

          <%= link_to "Get Lat Lng here", "http://www.latlong.net/" %><br />

          <%= f2.label :lat %>
          <%= f2.text_field :lat, class: "form-control" %>

          <%= f2.label :lng %>
          <%= f2.text_field :lng, class: "form-control" %>

          <%= f2.collection_select(:region_id, @regions, :id, :name) %>
         <% end %>
      </div>

      <div class="review-new-description">
        <br><h4>Description</h4><br />
        <%= f.fields_for :descriptions do |f3| %>
          <%= f3.label :name %>
          <%= f3.text_field :name, class: "form-control" %>

          <%= f3.label :price %>
          <%= f3.text_field :price, class: "form-control" %>
        <% end %>
      </div>

      <h4>Image</h4>

        <%= f.fields_for :review_images do |review_image|  %>
          <% if review_image.object.new_record? %>
            <%= review_image.file_field :image %>
          <% else %>
            <%= image_tag(review_image.object.image.url(:thumb)) %>
            <%= review_image.check_box :_destroy %>
          <% end %>
        <% end %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
