<%= link_to @user.name, user_path %>

<div class="row">
  <aside class="col-md-4">
    <section>
      <% @review.review_images.each do |review_image| %>
        <%= image_tag(review_image.image.url(:thumb)) %>
      <% end %>
    </section>
  </aside>
  <aside class="col-md-8">
    <section class="section-review">
      <% if @review %>
        <h3 class="review-name"><%= @review.name %></h3>
        <h4 class="review-content"><%= @review.content %></h4>
        <h5 class="review-phone-number"><%= @review.phone_number %></h5>
        <h5>Portable: </h5>
      <% end %>
    </section>
    <section class="section-address">
      <% if @address %>
        <h4><%= @address.province %>, <%= @address.town %></h4>
      <% end %>
    </section>
    <section>
      <h4>Description</h4>
      <% unless @description.blank? %>
        <table>
          <tr>
            <th>Accessories</th>
            <th>Price</th>
          </tr>
          <tr>
            <% @descriptions.each do |description| %>
              <td><%= description.name %></td>
              <td><%= description.price %></td>
            <% end %>
          </tr>
        </table>
      <% end %>
    </section>
  </aside>
</div>
